.gpt3__feature{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

}
.gpt3__feature-heading{
    max-width: 50vw;
    max-height: 70vh;
    padding: 3rem;
   display: flex;
   flex-wrap: wrap;
}


.gpt3__feature-heading h1{
    font-family: var(--font-family);
    line-height: 45px;
    font-weight: 800;
    font-size: 34px;
    max-width: 510px;
}

.gpt3__feature-heading p{
    font-family: var(--font-family);
    line-height: 30px;
    font-weight: 500;
    font-size: 16px;
  
   cursor: pointer;
}

@media screen and (max-width:850px) {
    .gpt3__feature-heading h1{
        font-size: 28px;
        line-height: 30px ;
        max-width: 300px;
        margin-left: -2rem;
    }
    .gpt3__feature-heading p{
        
        margin-left: -2rem;
    }
   .gpt3__feature-items h1{
    font-size: 18px;
    
   }
   .gpt3__feature-items p{
    font-size: 12px;
   }
}
@media screen and (max-width:720px) {
    .gpt3__feature{
     flex-direction: column;
     margin-top: -4rem;
    }
    .gpt3__feature-heading {
        flex-direction: row;
       margin-left: -1vw;
       max-width: 100vw;
    }
    .gpt3__feature-heading h1{
        max-width: 90vw;
        font-size: 20px;
    }
   .gpt3__feature-items h1{
   
    font-size: 18px;
   
    
   }
   .gpt3__feature-items p{
    font-size: 12px;
   }
}